/* Mobile Media Query */

@media only screen and (min-width: 576px) {
  .header-section .container {
    max-width: 98%;
  }
  .nav-items {
    display: flex;
  }
  .nav-items li {
    flex: 1;
  }
  .nav-items li a {
    padding: 1rem 0.5rem;
    width: max-content;
  }

  /*hero section*/
  .hero-section .container {
    max-width: 90%;
  }

  /* popular collection section*/
  .popular-collection .popular-collection-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Tablet Media Query */

@media only screen and (min-width: 768px) {
  .header-section .container {
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .nav-container ul {
    padding: 0;
  }
  .nav-items {
    justify-content: flex-end;
  }

  /* hero section */
  .hero-section {
    padding: 6rem 0 4rem;
  }
  .hero-section .container {
    flex-direction: row-reverse;
  }
  .hero-content,
  .hero-img {
    flex: 1;
  }
  .hero-img {
    align-self: flex-start;
  }
  .hero-content h1,
  .hero-content p {
    text-align: left;
  }

  .hero-content h1 {
    font-size: 3.25rem;
    line-height: 4.5rem;
  }
  .hero-content p {
    font-size: 1.125rem;
  }

  .btn-container {
    padding-top: 2rem;
    position: relative;
  }
  .btn-container .hero-btn {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  /* Brand Section */
  .popular-brand img {
    flex: 1 1 17%;
    padding: 1rem;
  }

  /* call to action section */
  .call-to-action {
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  .call-to-action .call-to-action-img {
    align-self: start;
    flex: 1 1 40%;
  }
  .call-to-action .call-to-action-content {
    flex: 1 1 60%;
  }
  .call-to-action .call-to-action-content h3 {
    padding: 0;
  }
  .call-to-action-btn {
    padding: 0;
    justify-content: flex-start;
  }
}

/* Laptop / Desktop Media Query */

@media only screen and (min-width: 992px) {
  /* Brand Section */

  .popular-brand {
    gap: 3rem;
  }
  .popular-brand img {
    flex: 1 1 12%;
    padding: 0.5rem;
  }

  /* popular collection section */
  .popular-collection-section .container {
    width: 84%;
  }

  .popular-collection .popular-collection-items {
    grid-template-columns: repeat(3, 1fr);
  }

  .call-to-action {
    gap: 6rem;
  }
}

/* Large Media Query */

@media only screen and (min-width: 1200px) {
}
